@import 'partials/setup';
@import 'partials/variables';
@import 'partials/display'; 
@import 'partials/carousel';

// * {
// 	border: 1px solid red;
// }

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	color: $greyColor;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	color: $greyColor;
	&:visited {
		color: $greyColor;
	}
}

