.map, .map__single {
	width: 100%;
	height: 200px;
}

.carousel {
	width: 85%;
	height: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;
	i {
		font-size: 5.0rem;
		color: $orangeColor;
		&:hover {
			cursor: pointer;
		}
	}
}



.left-arrow, .right-arrow {
	position: absolute;
	top: 0;
}

.left-arrow {
	left: 0;
}

.right-arrow {
	right: 0;
}

.school__link {
	width: calc(33% - 40px);
	margin: 20px;
}

.school__card {
	width: 100%;
	box-shadow: 1px 1px 7px 0px #b0b0b3;
}

.school__info {
	padding: 15px;
}

.school__level {
	color: $orangeColor;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	.school__link {
		width: calc(50% - 40px);
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
	.school__link {
		width: calc(100% - 40px);
	}
}